body {
	
	 margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #919191;
}

#topnav {
	margin-top: 2em;
    display: block;
    width: 100%;
    clear: both;
    text-align: center;
    
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    display: block;
    margin: 0;
    padding: 5px 8px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    
}

#topnav li {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;

}

#topnav ul ul {
     z-index: 9999; 
     position: absolute; 
     left: -999em; 
     height: auto; 
    width: 170px; 
    padding: 5px 0 0 0; 
      
}
#topnav li a {
    display: block;
    margin: 0;
    padding: 5px 8px;
    text-transform: uppercase;
    text-decoration: none;
    color: gray;
}

#show figure figcaption {
    display: block;
    float: right;
    width: 52%;
    font-size: 1.3em;
    line-height: 1.6em;

}
#show figure figcaption h1 {
    display: inline-block;
    margin: 15% 0 0 0;
    padding: 0;
    color: black;
    background-color: #FFFFFF;
    font-size: 5em;
    text-transform: uppercase;
}
#show figure figcaption p {
    margin: 0 0 15px 0;
    padding: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1,h2 {
   
    font-size: 1.4em;
    font-weight: normal;
    line-height: normal;
}
footer.more {
   margin: 0;
    display: inline-block;
    padding: 8px 10px;
    background-color: #EC4D48;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
}
